
/**
  广告模块
 */
.bg-content-model-ad {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}

/**
  广告图片
 */
.bg-content-model-ad-img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/**
  文章外模块
 */
.bg-content-model-article {
    border: 1px solid #eee;
}

/*
  文章内模块
 */
.model-article {
    width: 750px;
    height: 130px;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

/*
 文章标题
 */
.article-title {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: bold;
}

/**
  文章简介
 */
.article-introduction {
    margin: 5px 0;
}


/*
 文章图片模块
 */
.article-title-img-model {
    height: 30px;
    line-height: 30px;
}

/*
 文章图片
 */
.article-title-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/*
  文章作者
 */
.article-title-user {
    margin: auto 0;
    vertical-align: middle;
}

/*
   分割线
 */
.interval {
    width: 1px;
    height: 12px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 10px;
}

/*
  时间
 */
.article-time {
    line-height: 34px;
    color: #aaa;
}

/*
  阅读数
 */
.article-readCount {
    line-height: 34px;
    color: #aaa;
}

/*
  文章信息
 */
.article-message {
    display: flex;
    justify-content: space-between;
    line-height: 34px;
}

/*
  选中
 */
.active {
    background-color: red;
    color: white;
}